### 2019 카카오 코딩테스트 3번

https://tech.kakao.com/2018/09/21/kakao-blind-recruitment-for2019-round-1/

In [17]:
from itertools import combinations

# 조합
list(combinations('abcde', 1))
list(combinations('abcde', 2))
list(combinations('abcde', 3))

[('a', 'b', 'c'),
 ('a', 'b', 'd'),
 ('a', 'b', 'e'),
 ('a', 'c', 'd'),
 ('a', 'c', 'e'),
 ('a', 'd', 'e'),
 ('b', 'c', 'd'),
 ('b', 'c', 'e'),
 ('b', 'd', 'e'),
 ('c', 'd', 'e')]

In [18]:
l = [['100','ryan','music','2'],['200','apeach','math','2'],['300','tube','computer','3'],['400','con','computer','4'],['500','muzi','music','3'],['600','apeach','music','2']]

In [19]:
import pandas as pd

data = pd.DataFrame(l)
data

     0       1         2  3
0  100    ryan     music  2
1  200  apeach      math  2
2  300    tube  computer  3
3  400     con  computer  4
4  500    muzi     music  3
5  600  apeach     music  2

컬럼 1은 후보키가 될 수 없지만 0, 1을 조합하면 가능. BUT, 최소성은 보장안되기에 조합중에서 0을 포함한 것은 빼야됨.

In [20]:
data[1].value_counts()
len(data[1]) == len(data[1].value_counts())

False

In [21]:
data[1]

0      ryan
1    apeach
2      tube
3       con
4      muzi
5    apeach
Name: 1, dtype: object

In [22]:
"""
컬럼의 조합을 전부 만듦
각각의 컬럼들에서 유일성을 보장하는지 판별
그걸 새로운 리스트에 넣음
마지막으로 그 리스트에서 중복이 되는 것은 지워줌
"""

'\n컬럼의 조합을 전부 만듦\n각각의 컬럼들에서 유일성을 보장하는지 판별\n그걸 새로운 리스트에 넣음\n마지막으로 그 리스트에서 중복이 되는 것은 지워줌\n'

In [23]:
import pandas as pd
from itertools import combinations

l = [['100','ryan','music','2'],
     ['200','apeach','math','2'],
     ['300','tube','computer','3'],
     ['400','con','computer','4'],
     ['500','muzi','music','3'],
     ['600','apeach','music','2']]

colname = range(len(l[0]))

data = pd.DataFrame(l)
data_ = pd.DataFrame() # 조합한 결과물을 저장할 빈 데이터프레임

유일성만족리스트 = []
모든이름의조합 = []

for 조합수 in range(1, len(colname)+1):
    컬럼이름의조합 = combinations(colname, 조합수)
    모든이름의조합.append(list(컬럼이름의조합))

for 이름조합 in 모든이름의조합:
    for 컬럼명 in 이름조합:
        # print(컬럼명)
        if len(컬럼명) == 1:
            data_[f'data[{컬럼명[0]}]'] = data[컬럼명[0]]
        elif len(컬럼명) == 2:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}]'] = data[컬럼명[0]] + data[컬럼명[1]]
        elif len(컬럼명) == 3:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]]
        elif len(컬럼명) == 4:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]]

data_

,data[0],data[1],data[2],data[3],data[0] + data[1],data[0] + data[2],data[0] + data[3],data[1] + data[2],data[1] + data[3],data[2] + data[3],data[0] + data[1] + data[2],data[0] + data[1] + data[3],data[0] + data[2] + data[3],data[1] + data[2] + data[3],data[0] + data[1] + data[2] + data[3]
0,100,ryan,music,2,100ryan,100music,1002,ryanmusic,ryan2,music2,100ryanmusic,100ryan2,100music2,ryanmusic2,100ryanmusic2
1,200,apeach,math,2,200apeach,200math,2002,apeachmath,apeach2,math2,200apeachmath,200apeach2,200math2,apeachmath2,200apeachmath2
2,300,tube,computer,3,300tube,300computer,3003,tubecomputer,tube3,computer3,300tubecomputer,300tube3,300computer3,tubecomputer3,300tubecomputer3
3,400,con,computer,4,400con,400computer,4004,concomputer,con4,computer4,400concomputer,400con4,400computer4,concomputer4,400concomputer4
4,500,muzi,music,3,500muzi,500music,5003,muzimusic,muzi3,music3,500muzimusic,500muzi3,500music3,muzimusic3,500muzimusic3
5,600,apeach,music,2,600apeach,600music,6002,apeachmusic,apeach2,music2,600apeachmusic,600apeach2,600music2,apeachmusic2,600apeachmusic2

In [24]:
data_.columns

Index(['data[0]', 'data[1]', 'data[2]', 'data[3]', 'data[0] + data[1]',
       'data[0] + data[2]', 'data[0] + data[3]', 'data[1] + data[2]',
       'data[1] + data[3]', 'data[2] + data[3]', 'data[0] + data[1] + data[2]',
       'data[0] + data[1] + data[3]', 'data[0] + data[2] + data[3]',
       'data[1] + data[2] + data[3]', 'data[0] + data[1] + data[2] + data[3]'],
      dtype='object')

In [25]:
인덱스 = data_.columns
유일성만족리스트  = []

for i in 인덱스:
    if len(data_[i]) == len(data_[i].value_counts()): # 유일한지 아닌지 판별
        유일성만족리스트.append(i)
        
유일성만족리스트

['data[0]',
 'data[0] + data[1]',
 'data[0] + data[2]',
 'data[0] + data[3]',
 'data[1] + data[2]',
 'data[0] + data[1] + data[2]',
 'data[0] + data[1] + data[3]',
 'data[0] + data[2] + data[3]',
 'data[1] + data[2] + data[3]',
 'data[0] + data[1] + data[2] + data[3]']

In [26]:
print('hello' in 'hello world')

True

In [27]:
for i in range(len(유일성만족리스트)):
    for j in range(i+1, len(유일성만족리스트)):
        print(i, j)
        print(유일성만족리스트[i], 유일성만족리스트[j])
        if 유일성만족리스트[i] in 유일성만족리스트[j]:
            유일성만족리스트[j] = '!'
            
유일성만족리스트

0 1
data[0] data[0] + data[1]
0 2
data[0] data[0] + data[2]
0 3
data[0] data[0] + data[3]
0 4
data[0] data[1] + data[2]
0 5
data[0] data[0] + data[1] + data[2]
0 6
data[0] data[0] + data[1] + data[3]
0 7
data[0] data[0] + data[2] + data[3]
0 8
data[0] data[1] + data[2] + data[3]
0 9
data[0] data[0] + data[1] + data[2] + data[3]
1 2
! !
1 3
! !
1 4
! data[1] + data[2]
1 5
! !
1 6
! !
1 7
! !
1 8
! data[1] + data[2] + data[3]
1 9
! !
2 3
! !
2 4
! data[1] + data[2]
2 5
! !
2 6
! !
2 7
! !
2 8
! data[1] + data[2] + data[3]
2 9
! !
3 4
! data[1] + data[2]
3 5
! !
3 6
! !
3 7
! !
3 8
! data[1] + data[2] + data[3]
3 9
! !
4 5
data[1] + data[2] !
4 6
data[1] + data[2] !
4 7
data[1] + data[2] !
4 8
data[1] + data[2] data[1] + data[2] + data[3]
4 9
data[1] + data[2] !
5 6
! !
5 7
! !
5 8
! !
5 9
! !
6 7
! !
6 8
! !
6 9
! !
7 8
! !
7 9
! !
8 9
! !

['data[0]', '!', '!', '!', 'data[1] + data[2]', '!', '!', '!', '!', '!']

In [28]:
len(유일성만족리스트) - 유일성만족리스트.count('!')

2

### 전체 코드

In [30]:
import pandas as pd
from itertools import combinations

l = [['100','ryan','music','2'],
     ['200','apeach','math','2'],
     ['300','tube','computer','3'],
     ['400','con','computer','4'],
     ['500','muzi','music','3'],
     ['600','apeach','music','2']]

colname = range(len(l[0]))

data = pd.DataFrame(l)
data_ = pd.DataFrame() # 조합한 결과물을 저장할 빈 데이터프레임

유일성만족리스트 = []
모든이름의조합 = []

for 조합수 in range(1, len(colname)+1):
    컬럼이름의조합 = combinations(colname, 조합수)
    모든이름의조합.append(list(컬럼이름의조합))

for 이름조합 in 모든이름의조합:
    for 컬럼명 in 이름조합:
        # print(컬럼명)
        if len(컬럼명) == 1:
            data_[f'data[{컬럼명[0]}]'] = data[컬럼명[0]]
        elif len(컬럼명) == 2:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}]'] = data[컬럼명[0]] + data[컬럼명[1]]
        elif len(컬럼명) == 3:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]]
        elif len(컬럼명) == 4:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]]

인덱스 = data_.columns

for i in 인덱스:
    if len(data_[i]) == len(data_[i].value_counts()): # 유일한지 아닌지 판별
        유일성만족리스트.append(i)
        
for i in range(len(유일성만족리스트)):
    for j in range(i+1, len(유일성만족리스트)):
        if 유일성만족리스트[i] in 유일성만족리스트[j]:
            유일성만족리스트[j] = '!'

len(유일성만족리스트) - 유일성만족리스트.count('!')

2

오류 발생

In [ ]:
# 기존 코드
if 유일서만족리스트[i] in 유일성만족리스트[j]:
    유일성만족리스트[j] = '!'

In [32]:
'data[0] + data[5]' in 'data[0] + data[3] + data[5]'
# 단순 문자열 비교로는 모든 후보키를 검사할 수 없음!

False

In [33]:
# all 빌트인 function으로
all(요소 in 'data[1] + data[2]'.split(' + ') for 요소 in 'data[0] + data[3]'.split(' + '))

False

In [34]:
all(요소 in 'data[0] + data[3] + data[5]'.split(' + ') for 요소 in 'data[0] + data[5]'.split(' + '))

True

In [35]:
# list comprehension으로
[요소 in 'data[0] + data[3] + data[5]'.split(' + ') for 요소 in 'data[0] + data[5]'.split(' + ')]

[True, True]

### 수정된 코드

In [ ]:
import pandas as pd
from itertools import combinations

def solution(l):
    l = [['100','ryan','music','2'],
        ['200','apeach','math','2'],
        ['300','tube','computer','3'],
        ['400','con','computer','4'],
        ['500','muzi','music','3'],
        ['600','apeach','music','2']]

    colname = range(len(l[0]))

    data = pd.DataFrame(l)
    data_ = pd.DataFrame() # 조합한 결과물을 저장할 빈 데이터프레임

    유일성만족리스트 = []
    모든이름의조합 = []

    for 조합수 in range(1, len(colname)+1):
        컬럼이름의조합 = combinations(colname, 조합수)
        모든이름의조합.append(list(컬럼이름의조합))

    for 이름조합 in 모든이름의조합:
        for 컬럼명 in 이름조합:
            # print(컬럼명)
            if len(컬럼명) == 1:
                data_[f'data[{컬럼명[0]}]'] = data[컬럼명[0]]
            elif len(컬럼명) == 2:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}]'] = data[컬럼명[0]] + data[컬럼명[1]]
            elif len(컬럼명) == 3:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]]
            elif len(컬럼명) == 4:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]]

    인덱스 = data_.columns

    for i in 인덱스:
        if len(data_[i]) == len(data_[i].value_counts()): # 유일한지 아닌지 판별
            유일성만족리스트.append(i)
    """
    수정된 부분분
    """        
    for i in range(len(유일성만족리스트)):
        for j in range(i+1, len(유일성만족리스트)):
            if all(요소 in 유일성만족리스트[j].split(' + ') for 요소 in 유일성만족리스트[i].split(' + ')):
                유일성만족리스트[j] = '!'

    return len(유일성만족리스트) - 유일성만족리스트.count('!')